{% extends "base.html" %}


{% block content %}
    <h1>Servidores</h1>
    <p>Bem-vindo pagina de servidores </p>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Nome</th>
      <th scope="col">Categoria</th>
      <th scope="col">Ingresso</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for servidor in servidores %}
      <tr>
        <th scope="row">{{servidor.matricula}}</th>
        <td>{{servidor.nome}}</td>
        <td>{{servidor.categoria}}</td>
        <td>{{servidor.data_ent_exercicio|date:'d/m/Y'}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}